<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- The formGroup tells angular to sync this form with the one fom typescript -->
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" formControlName='username'>
                        <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">
                            <span class="help-block" *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
                                This user is forbidden
                            </span>
                        <span class="help-block" *ngIf="signupForm.get('userData.username').errors['required']">
                                This user is required
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" formControlName='email'>
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">
                            <span class="help-block" *ngIf="signupForm.get('userData.email').errors['emailForbidden']">
                                This email is forbidden
                            </span>
                        <span class="help-block" *ngIf="signupForm.get('userData.email').invalid">
                                Email is invalid
                            </span>
                        <span class="help-block" *ngIf="signupForm.get('userData.email').errors['required']">
                                Email is required
                            </span>

                        </span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label for="">
                      <input type="radio" [value]="gender" formControlName='gender'> {{ gender }}
                    </label>
                </div>
                <div formArrayName='hobbies'>

                    <h3>Hobbies</h3>
                    <div class='form-group'>
                        <button class="btn btn-default" type="button" (click)='onAddHobbies()'>Add hobbies</button>
                    </div>

                    <!-- Div creates only the FormControl of the form element and i gets it's position in the array of hobbies. 
                    In this way, we say to our form element, that formControlName = positionInArray and positionInArray will be the name 
                    (actually it's the key in the array) of the property which holds that new input value. -->

                    <div class='form-group' *ngFor="let hobbie of signupForm.get('hobbies').controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>

                </div>

                <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter valid data</span>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>